
/* CouseList Section */
.coursesListOutermost {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.coursesListOutermost p{
  font-size:40px;
  color: #7563f3;
  margin-top: 50px;
}
.coursesListsOuter {
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
  width: 80%;
}
.courseSection {
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(38, 32, 32);
}

.coursesLists {
  display: flex;
  justify-content: space-evenly;
  margin: 30px;
  flex-wrap: wrap;
}
.courseComponent {
  /* border-style: solid;
  border-width: 1.5px; */
  border: none;
  border-radius: 20px;
  width: 320px;
  padding: 30px;
  background-color:#7E57C2;;
  /* background-image: url("./image/image2.jpg"); */
  /* background-color: #7E57C2; */
  /* background-image: linear-gradient(to left, #dd9e22, #e0c633df);*/
  margin: 10px;
  color: whitesmoke;
  transition: 0.5s;
  box-shadow: 0 0 10px #7E57C2;
}
.courseComponent:hover{
  transform: scale(1.03);
  transition: 0.5s ease-in;
  color: #7E57C2;
  background-color:white;

}
.courseName{
  margin: 10px 10px 20px;
  font-size: 29px;
}
.courseName:hover{
  text-decoration: underline;
}
.ageSlot {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  /* font-weight: 400; */
  /* color: black; */
}
.courseComponent h1 {
  margin-top: 15px;
  font-size: 20px;
}
.courseComponent li {
  /* color: rgba(0, 0, 0, 0.862); */
  margin-top: 5px;
  font-size: 17px;
}
