/* FAQ Section */
.faqSection {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}
.faqSection p {
  font-size: 40px;
  font-weight: 700;
}
.faqSectionOuter {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.faqSectionInner {
  width: 50%;
}
.faqQuestion {
 
  border: none;
  border-bottom:2px  #9b51bc solid;
  background-color: white;
  
}
.faqQuestionInner {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  transition: 0.5s;
  color: black;
 }
 .faqQuestionInner:hover{
   background-image:linear-gradient(to right, #7563f3, #9b51bc); 
   color: white;
 }
/* .faqQuestionInner p{ 
  color: blueviolet;
} */
.faqSection .faqQuestion p {
  /* margin-right: 10px; */
  font-size: 22px;
  display: inline;
}
.arrowDrop {
  font-size: 20px;
}
.faqAnswer {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: left;
  overflow: hidden;
  transition: 0.2s ease-out;
}
.faqAnswer p {
  padding: 20px;
}

.active,
.faqQuestion:hover {
  background-color: #ccc;
}

@media screen and (max-width: 1100px) {
  .faqSectionInner {
    width: 60%;
  }
  .faqSection p {
    font-size: 36px;
  }
  .faqSection .faqQuestion p {
    font-size: 20px;
  }
  .faqAnswer p {
    padding: 16px;
  }
}
@media screen and (max-width: 1000px) {
  .faqSectionInner {
    width: 65%;
  }
  .faqSection p {
    font-size: 32px;
  }
  .faqSection .faqQuestion p {
    font-size: 18px;
  }
  .faqAnswer p {
    padding: 14px;
  }
}
@media screen and (max-width: 750px) {
  .faqSectionInner {
    width: 70%;
  }
  .faqSection p {
    font-size: 25px;
  }
  .faqSection .faqQuestion p {
    font-size: 20px;
  }
  /* .faqQuestionInner {
    padding: 8px;
  } */
  /* .faqAnswer p {
    padding: 10px;
  } */
}
@media screen and (max-width: 600px) {
  .faqSectionInner {
    width: 75%;
  }
  .faqSection p {
    font-size: 22px;
  }
  .faqSection .faqQuestion p {
    font-size: 16px;
  }
  .faqQuestionInner {
    padding: 6px;
  }
  /* .faqAnswer p {
    padding: 10px;
  } */
  .arrowDrop {
    font-size: 20px;
  }
}
