/* Header Section */
.navbar {
  /* background-color: #e8456c; */
  background-color: #6b1ee1;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.navbar img {
  width: 75%;
  height: 2.3rem;
}
.menu {
  display: flex;
  justify-content: space-around;
}

.menus {
  color: rgb(248, 245, 245);
  font-weight: 700;
  /* display: flex;
    justify-content: space-between; */
  margin-left: 40px;
}
.login {
  display: flex;
  justify-content: space-between;
}
.register {
  background-image: linear-gradient(to right, #dd9e22, #e0c633df);
  border-width: 1.5px;
  border-color: rgb(6, 6, 6);

  border-style: solid;
  border-radius: 10px;

  padding: 10px 12px;
  border: none;
  font-weight: 700;
  transition: 1s;
  user-select: none;
}
.register:hover {
  background-image: linear-gradient(to left, #dd9e22, #e0c633df);
}
.signIn {
  margin: 0px 40px;
  background-image: linear-gradient(to right, #dd9e22, #e0c633df);
  border-width: 1.5px;
  border-color: rgb(6, 6, 6);
  border-style: solid;
  border-radius: 10px;
  padding: 10px 12px;
  border: none;
  font-weight: 700;
  transition: 1s;
  user-select: none;
}
.signIn:hover {
  background-image: linear-gradient(to left, #dd9e22, #e0c633df);
}
