.FooterSection{
    background-image: linear-gradient(to right, #7563F3 , #9B51BC);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 30px;

}
.Logo{
    width: 300px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 30px 50px;
}
.Logo h3{
    text-align: left;
}
.Logo p{
    font-size: 17px;
    text-align: justify;
    padding: 20px;
}
.FooterLink{
    width: 300px; 
    height: auto;
    display: flex;
    align-items: center;
    text-align: left;
    flex-direction: column;
    margin: 30px 50px;
}
.FooterLink a{
    margin: 7px;
    text-align: left;
    text-decoration: none;
    color: white;
}
.FooterContact{
    width: 300px;
    height: auto;
    display: flex;   
    flex-direction: column;
    text-align: left;
    margin: 30px 50px;
}

.FooterIcon{
    padding: 2px;
    display: flex;
    align-items: center;
}
.Icon{
    border-radius: 50%;
    cursor: pointer;
    margin-right: 10px;
    transition: 0.5s;
}
.Icon:hover{
    background-color: white;
    color: #9B51BC;
}
.FooterIcon p{
    font-size: 15px;
}
